<% title t(:member_invite, :scope => [ :authentication, :invites, :invitation ], :group => @group.name) %>

<% form_tag update_invitation_url(@group, params[:id]) do %>
  <p>
    <%= submit_tag t(:accept) %>
    <%= submit_tag t(:decline) %>
  </p>
<% end %>
