<table class="form-table">
  <tr>
    <td>
      <%= f.yes_no_select :mailer_alerts, :label => { :name => t(:mailer_alerts, :scope => [ :content ]) },
        :hint => t(:mailer_alerts_hint, :scope => [ :content ]) %>
    </td>
    <% if Configuration.users_contact %>
      <td>
        <%= f.yes_no_select :visible_contact, :label => { :name => t(:visible_contact, :scope => [ :contacts ]) },
          :hint => t(:visible_contact_hint, :scope => [ :contacts ]) %>
      </td>
    <% end %>
  </tr>
</table>
