<div>
  <%= enumeration_select(f, :phone_type, { :layout => false }) %> :
  <%= f.text_field :number, :layout => false, :required => true %>
  x<%= f.text_field :extension, :size => 8, :layout => false %>
</div>
