<% _id = "item_#{random_id}" %>
<div id="<%= _id %>">
  <table class="item-table">
    <tr>
      <td>
        <%= yield %>
      </td>
      <td>
        <% # FIXME - Use this line when update Rails... %>
        <% #= f.check_box(:_delete, :layout => false) %> <% #=t :remove %>
        <%= icon_link_to_function(:delete, t(:remove), "if (confirm('#{t(:are_you_sure)}')) Element.remove('#{_id}');") %>
      </td>
    </tr>
  </table>
</div>