<p class="show-field">
  <% if label %>
    <span class="label">
      <%= label %>
  <% end %>
  <% if actions.try(:any?) %>
    <span class="actions">
      (<%= actions.join(" | ") %>)
    </span>
  <% end %>
  <% if label %>
    :
    </span>
  <% end %>
  <% if value %>
    <span class="value">
      <%= value %>
    </span>
  <% end %>
</p>

<% unless values.blank? %>
  <div class="show-field-values">
    <ul class="show-field-list">
      <% values.each do |value| %>
        <li>
          <%= value %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>